{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
	"importOrder": [
		"^@",
		"<THIRD_PARTY_MODULES>",
		"^\\$components/",
		"^\\$stores/",
		"^\\$types/",
		"^\\$root/",
		"^\\$(?!lib/)",
		"^\\$lib/",
		"^[.]"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
